.card_container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
}