<div class="menu_container">
    <div class="menu_logo">
        <a href=""><img src="./assets/logo.png" alt="logo" width="35px" height="35px">Modas</a>
        
    </div>
    <div class="menu_contatos">
        <ul>
            <li><a href="https://www.linkedin.com/in/jhonaelrocha/">LinkedIn</a></li>
            <li><a href="https://github.com/JhonaelRocha">GitHub</a></li>
            <li><a href="https://www.youtube.com/channel/UCkAqpWNlBnTGauIl-UrpsBA">Youtube</a></li>
        </ul>
    </div>
</div>