<div>
    <app-card
    cardImage="./assets/modelo_1.webp"
    tamanho="M"
    preco="R$ 79,99"
    texto="A moda moderna é caracterizada pela liberdade de expressão e pela quebra de padrões, abraçando a diversidade e a sustentabilidade."
    ></app-card>
    <app-card
    cardImage="https://th.bing.com/th/id/OIP.S7eTxkhO0W2d2Y0FXNQEDwHaLF?w=204&h=305&c=7&r=0&o=5&pid=1.7"
    tamanho="M"
    preco="R$ 65,99"
    texto="A moda praia valoriza o conforto e a liberdade, com designs coloridos e tecidos leves."
    ></app-card>
    <app-card
    cardImage="https://th.bing.com/th/id/OIP.eP_XktxhkuQ5OHggqMpWWgHaKk?w=163&h=199&c=7&r=0&o=5&pid=1.7"
    tamanho="P"
    preco="R$ 55,99"
    texto="A moda balada é ousada e brilhante, refletindo a energia da noite."
    ></app-card>
    <app-card
    cardImage="https://th.bing.com/th/id/OIP.NJK9QjZl8cbIznNLG2T2_QHaKn?w=208&h=299&c=7&r=0&o=5&pid=1.7"
    tamanho="P"
    preco="R$ 105,00"
    texto="A  moda festa é elegante e sofisticada, destacando-se em ocasiões especiais."
    ></app-card>
    <app-card
    cardImage="https://th.bing.com/th/id/OIP.KcGzuFlRQ4JHBVcVCWP9WwHaJQ?w=208&h=260&c=7&r=0&o=5&pid=1.7"
    tamanho="M"
    preco="R$ 95,00"
    texto="A moda junina celebra a cultura popular com trajes coloridos, estampas xadrez e acessórios rústicos, evocando o charme das festas de São João."
    ></app-card>
</div>

